model_configs {
    name: "GLFusionVisualizer_camera_onboard"
    version: "1.0.0"

    # render modes
    array_string_params {
        name: "render_modes"
        values: "render_camera MultiCamera3DViewport CameraProj2DViewport Camera2DViewport Lane2DViewport"
    }

    array_string_params {
        name: "viewports_names"
        values: "MultiCamera3DViewport"
        values: "DummyViewport"
        values: "Camera2DViewport"
        values: "CameraProj2DViewport"
        values: "Lane2DViewport"
    }

    array_string_params {
        name: "lidar_ids"
        values: "velodyne64"
        #values: "ldlidar_1"
        # values: "ldlidar_4"
    }
    array_string_params {
        name: "radar_ids"
        values: "radar_front"
        # values: "radar_rear"
    }
    array_string_params {
        name: "camera_ids"
        values: "front_6mm"
        values: "front_12mm"
        # values: "front_6mm"
        # values: "front_12mm"
    }
    array_string_params {
        name: "ultrasonic_ids"
        values: "ultrasonic_16"
    }

    string_params {
        name: "main_sensor_name"
        value: "front_6mm"
        # value: "front_6mm"
    }
    array_double_params {
        name: "main_car_lwh"
        values: 4.925
        values: 1.864
        values: 1.477
    }

    integer_params {
        name: "max_data_buffer_size"
        value: 30
    }
    double_params {
        name: "max_buffer_interval"
        value: 0.4
    }
    integer_params {
        name: "full_window_viewport_idx"
        value: -1
    }
    double_params {
        # radius incremental of reference circle (in meters)
        name: "ref_circle_radius_inc"
        value: 40.0
        # value: 20.0
    }
    string_params {
        # path of display options' init config file
        name: "display_opt_init_filepath"
        value: "internal/conf/perception/visualization/modules/display_options_camera.ini"
    }
    array_double_params {
        # crop region of screenshots; [left, top, right, bottom]
        # [0.0, 0.0, 0.5, 1.0] means capturing the left half
        name: "crop_box_normalized"
        values: 0.0
        values: 0.0
        values: 0.5
        # values: 1.0
        values: 1.0
    }
    integer_params {
        # number of reference circle
        name: "ref_circle_num"
        value: 4
    }
}
