model_configs {
    name: "GLFusionVisualizer_onboard"
    version: "1.0.0"

    # render modes
    array_string_params {
        name: "render_modes"
        values: "render_fusion MultiSensor3DViewport Fusion3DViewport Camera2DViewport LidarRadar2DViewport"
        values: "render_fusion_2d MultiSensor3DViewport Fusion3DViewport Camera2DViewport Fusion2DViewport"
    }

    array_string_params {
        name: "viewports_names"
        values: "Fusion3DViewport"
        values: "DummyViewport"
        values: "Camera2DViewport"
        values: "MultiSensor3DViewport"
        values: "LidarRadar2DViewport"
        values: "Fusion2DViewport"
    }

    array_string_params {
        name: "lidar_ids"
        values: "velodyne128"
    }
    array_string_params {
        name: "radar_ids"
        values: "radar_front"
        values: "radar_rear"
        # values: "radar_corner"
    }
    array_string_params {
        name: "camera_ids"
        values: "front_6mm"
        values: "front_12mm"
        # values: "spherical_backward"
        # values: "spherical_left_forward"
        # values: "spherical_right_forward"
        # values: "spherical_left_backward"
        # values: "spherical_right_backward"
    }
    array_string_params {
        name: "ultrasonic_ids"
        values: "ultrasonic_16"
    }

    string_params {
        name: "main_sensor_name"
        value: "velodyne128"
    }
    array_double_params {
        name: "main_car_lwh"
        values: 4.925
        values: 1.864
        values: 1.477
    }

    integer_params {
        name: "max_data_buffer_size"
        value: 30
    }
    double_params {
        name: "max_buffer_interval"
        value: 0.4
    }
    integer_params {
        name: "full_window_viewport_idx"
        value: -1
    }

    string_params {
        # path of display options' init config file
        name: "display_opt_init_filepath"
        value: "internal/conf/perception/visualization/modules/display_options_onboard.ini"
    }
}
