# set your work_root by FLAGS_work_root.
# following paths are relative path.
model_config_path: "/apollo/modules/perception/conf/fusion/modules/pbf_gatekeeper.config"
model_config_path: "/apollo/modules/perception/conf/fusion/modules/pbf_tracker.config"
model_config_path: "/apollo/modules/perception/conf/fusion/modules/probabilistic_fusion.config"
model_config_path: "/apollo/modules/perception/conf/fusion/modules/dst_type_fusion.config"
model_config_path: "/apollo/modules/perception/conf/fusion/modules/dst_existence_fusion.config"
