<cyber>
    <module>
        <name>wato</name>
        <dag_conf>/apollo/modules/drivers/wato/dag/wato.dag</dag_conf>
        <process_name>usb_cam</process_name>
    </module>
    <module>
        <name>video</name>
        <dag_conf>/apollo/modules/drivers/video/dag/video.dag</dag_conf>
        <process_name>h265_video</process_name>
    </module>
</cyber>
