# load bazelrc from the legacy location
# as recommended in https://github.com/bazelbuild/bazel/issues/6319
try-import %workspace%/tools/bazel.rc
try-import %workspace%/.apollo.bazelrc

try-import %workspace%/.custom.bazelrc 

# build --remote_cache="http://localhost:8080/
