---
BasedOnStyle: Google
---
Language:                               Cpp
PointerAlignment:                       Right
BreakBeforeBraces:                      Attach
AllowShortBlocksOnASingleLine:          false
AllowShortFunctionsOnASingleLine:       Empty
Cpp11BracedListStyle:                   true
Standard:                               Cpp11
CommentPragmas: '^ NOLINT'
---
