*app.bundle.js* filter=lfs diff=lfs merge=lfs -text
*.bag filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.caffemodel filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.pcd filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.record filter=lfs diff=lfs merge=lfs -text

# TODO(all): Currently we have some models named as *.md which should be renamed
# and tracked.
*caffe.md filter=lfs diff=lfs merge=lfs -text
*deploy.md filter=lfs diff=lfs merge=lfs -text

# To track new large files which don't fall into any pattern, name it with
# "lfs_" prefix.
lfs_* filter=lfs diff=lfs merge=lfs -text
