# Define all nodes in DAG streaming.
subnode_config {
    # Input nodes.
    subnodes {
        id: 1
        name: "Lidar64InputNode"
    }

    subnodes {
        id: 2
        name: "Lidar16InputNode"
    }

    subnodes {
        id: 3
        name: "Lidar16InputNode"
    }

    # Segment nodes.
    subnodes {
        id: 11
        name: "SegmentNode"
    }
    subnodes {
        id: 12
        name: "SegmentNode"
    }
    subnodes {
        id: 13
        name: "SegmentNode"
    }

    # Obstacle Classify nodes.
    subnodes {
        id: 21
        name: "ObstacleClassifyNode"
    }

    subnodes {
        id: 22
        name: "ObstacleClassifyNode"
    }

    subnodes {
        id: 23
        name: "ObstacleClassifyNode"
    }

    # TrackedObstacle Classify nodes.
    subnodes {
        id: 31
        name: "TrackedClassifyNode"
    }
    subnodes {
        id: 32
        name: "TrackedClassifyNode"
    }
    subnodes {
        id: 33
        name: "TrackedClassifyNode"
    }

    # Fusion node.
    subnodes {
        id: 41        
        name: "FusionNode"
    }
}


###################################################################
# Define all edges linked nodes.
edge_config {
    # input nodes -->  segment nodes edge.
    edges {
        id: 101
        from_node: 1
        to_node: 11
        events {
            id: 1001
            name: "64 lidar->segment"
        }
    }
    edges {
        id: 102
        from_node: 2
        to_node: 12
        events {
            id: 1002
            name: "16_0 lidar->segment"
        }
    }
    edges {
        id: 103
        from_node: 3
        to_node: 13
        events {
            id: 1003
            name: "16_1 lidar->segment"
        }
    }

    # segment nodes --> obstacle nodes edges.
    edges {
        id: 104
        from_node: 11
        to_node: 21
        events {
            id: 1004
            name: "64 segment -> obstacle"
        }
    }
    edges {
        id: 105
        from_node: 12
        to_node: 22
        events {
            id: 1005
            name: "16_0 segment -> obstacle"
        }
    }
    edges {
        id: 106
        from_node: 13
        to_node: 23
        events {
            id: 1006
            name: "16_1 segment -> obstacle"
        }
    }

    # obstacle nodes --> track nodes edges.
    edges {
        id: 107
        from_node: 21
        to_node: 31
        events {
            id: 1007
            name: "64 obstacle -> track"
        }
    }
    edges {
        id: 108
        from_node: 22
        to_node: 32
        events {
            id: 1008
            name: "16_0 obstacle -> segment"
        }
    }
    edges {
        id: 109
        from_node: 23
        to_node: 33
        events {
            id: 1009
            name: "16_0 obstacle -> segment"
        }
    }

    # track nodes --> fusion nodes edges.
    edges {
        id: 110
        from_node: 31
        to_node: 41
        events {
            id: 1010
            name: "64 track -> fusion"
        }
    }
    edges {
        id: 111
        from_node: 32
        to_node: 41
        events {
            id: 1011
            name: "16_0 track -> fusion"
        }
    }
    edges {
        id: 112
        from_node: 33
        to_node: 41
        events {
            id: 1012
            name: "16_1 track -> fusion"
        }
    }
}

data_config {
    datas {
        id: 1
        name: "ObstacleManager"
    }
    datas {
        id: 2
        name: "TrackedObstacleManager"
    }
}
