model_configs {
    name: "MultiCamerasProjection"
    version: "1.0.0"

    string_params {
        name: "SingleProjection"
        value: "SingleBoundaryBasedProjection"
    }

    array_string_params {
        name: "camera_names"
        values: "camera_6mm_focus"
        values: "camera_25mm_focus"
    }
}

model_configs {
    name: "camera_25mm_focus"

    string_params {
        name: "camera_extrinsic_file"
        value: "modules/perception/data/params/onsemi_traffic_extrinsics.yaml"
    }
    string_params {
        name: "camera_intrinsic_file"
        value: "modules/perception/data/params/onsemi_traffic_intrinsics.yaml"
    }
}

model_configs {
    name: "camera_6mm_focus"

    string_params {
        name: "camera_extrinsic_file"
        value: "modules/perception/data/params/onsemi_obstacle_extrinsics.yaml"
    }
    string_params {
        name: "camera_intrinsic_file"
        value: "modules/perception/data/params/onsemi_obstacle_intrinsics.yaml"
    }
}
