model_configs {
    name: "TLPreprocessor"
    version: "1.0.0"

    integer_params {
      name: "max_cached_image_lights_array_size"
      value: 100
    }

    integer_params {
      name: "projection_image_cols"
      value: 1920
    }

    integer_params {
      name: "projection_image_rows"
      value: 1080
    }

    float_params {
      name: "sync_interval_seconds"
      value: 0.1
    }

    float_params {
      name: "no_signals_interval_seconds"
      value: 0.5
    }

}
