model_configs {
    name: "UnityRecognize"
    version: "1.0.0"
    string_params {
        name: "classify_model"
        value: "model/traffic_light/rcg_all/2017-08-08/vertical/baidu_iter_200000.caffemodel"
    }
    string_params {
        name: "classify_net"
        value: "model/traffic_light/rcg_all/2017-08-08/vertical/deploy.prototxt"
    }
    float_params{
        name: "classify_threshold"
        value: 0.5
    }
    integer_params{
        name: "classify_resize_width"
        value: 32
    }
    integer_params{
        name: "classify_resize_height"
        value: 96
    }
}
model_configs {
    name: "UnityRecognizeNight"
    version: "1.0.0"
    string_params {
        name: "classify_model"
        value: "model/traffic_light/rcg_all/2017-08-08/quadrate/baidu_iter_200000.caffemodel"
    }
    string_params {
        name: "classify_net"
        value: "model/traffic_light/rcg_all/2017-08-08/quadrate/deploy.prototxt"
    }
    float_params{
        name: "classify_threshold"
        value: 0.5
    }
    integer_params{
        name: "classify_resize_width"
        value: 64
    }
    integer_params{
        name: "classify_resize_height"
        value: 64
    }
}
