model_configs {
    name: "UnityRectify"
    version: "1.0.0"

    float_params {
        name: "hdmap_box_scale"
        value: 2.0
    }
    float_params {
        name: "crop_scale"
        value: 1.5
    }
    float_params {
        name: "output_threshold"
        value: 0.7
    }
    integer_params {
        name: "output_type"
        value: 0
    }
    integer_params {
        name: "crop_min_size"
        value: 270
    }
    string_params {
        name: "detection_model"
        value: "model/traffic_light/det_all/2017-07-18/S2C_FCN_S6_A1_C2_DNS_SPS_STAR_ADD_iter_50000.caffemodel.avg"
    }
    string_params {
        name: "detection_net"
        value: "model/traffic_light/det_all/2017-07-18/S2C_FCN_S6_A1_C2_DNS_SPS_STAR_ADD_test.prototxt"
    }
    integer_params{
        name: "crop_method"
        value: 0
    }
    integer_params{
        name: "detect_method"
        value: 0
    }
}
