model_configs {
    name: "UnityRectify"
    version: "1.0.0"

    float_params {
        name: "crop_scale"
        value: 2.5
    }
    integer_params {
        name: "crop_min_size"
        value: 300
    }
    string_params {
        name: "detection_model"
        value: "model/traffic_light/det_all/2017-11-17/baidu_iter_120000.caffemodel"
    }
    string_params {
        name: "detection_net"
        value: "model/traffic_light/det_all/2017-11-17/deploy.prototxt"
    }
    integer_params{
        name: "crop_method"
        value: 0
    }
    integer_params{
        name: "detect_method"
        value: 0
    }
}
