model_configs {
    name: "HMMReviser"
    version: "1.0.0"
    string_params {
        name: "param_file"
        value: "data/models/reviser/reviser.prototxt"
    }
}
model_configs {
    name: "ColorReviser"
    version: "1.0.0"

    integer_params{
        name: "enable"
        value: 1
    }
    float_params{
        name: "blink_time"
        value: 1.5
    }
}
