model_configs {
    name: "TLPreprocessorSubnode"
    version: "1.0.0"
    float_params {
        name: "max_ahead_seconds"
        value: 0.3
    }

    float_params {
        name: "max_process_image_fps"
        value: 8
    }
    float_params {
        name: "query_tf_inverval_seconds"
        value: 0.2
    }

}

model_configs {
    name: "TLProcSubnode"
    version: "1.0.0"

    integer_params {
        name: "image_border"
        value: 100
    }
    float_params {
    #"the difference between event ts and now ts must be less than this.Unit:second "
        name: "valid_ts_interval"
        value: 0.5
    }
}
