model_configs {
    name: "TLPreprocessorSubnode"
    version: "1.0.0"
    double_params {
        name: "sync_interval_seconds"
        value: 0.1
    }
    double_params {
        name: "max_ahead_seconds"
        value: 0.3
    }

    integer_params {
        name: "max_process_image_fps"
        value: 8
    }

    double_params {
        name: "query_tf_inverval_seconds"
        value: 0.5
    }
}

model_configs {
    name: "TLProcSubnode"
    version: "1.0.0"

    integer_params {
        name: "image_border"
        value: 100
    }
}
