model_configs {
  name:"ContiArsTracker"
  version: "1.0.0"
  double_params {
    name: "tracking_time_window"
    value: 0.06
  }
  string_params {
    name: "macher_name"
    value: "HMMatcher"
  }
  string_params {
    name: "chosen_filter"
    value: "AdaptiveKalmanFilter"
  }
  integer_params {
    name: "tracked_times_threshold"
    value: 3
  }
  bool_params {
    name: "use_filter"
    value: false
  }
}
