[FusionCameraDetection]
camera_names = onsemi_obstacle,onsemi_narrow
input_camera_channel_names = /sensor/camera/traffic/image_short,/sensor/camera/obstacle/image_narrow
timestamp_offset = 0.0
camera_obstacle_perception_conf_dir = conf/perception/camera
# camera_obstacle_perception_conf_file = obstacle_fusion.pt
camera_obstacle_perception_conf_file = obstacle.pt
frame_capacity = 20
image_channel_num = 3
enable_undistortion = false
enable_visualization = false
output_final_obstacles = false
output_obstacles_channel_name = /perception/obstacles
camera_perception_viz_message_channel_name = /perception/inner/camera_viz_msg
prefused_channel_name = /perception/inner/PrefusedObjects
default_camera_pitch = 0.0
default_camera_height = 1.5
lane_calibration_working_sensor_name = onsemi_obstacle
calibrator_method = LaneLineCalibrator
calib_service_name = OnlineCalibrationService
run_calib_service = true
output_camera_debug_msg = true
camera_debug_channel_name = /perception/obstacles_camera_debug
ts_diff = 0.1

[FusionCameraDetectionViz]
camera_names = onsemi_obstacle,onsemi_narrow
input_camera_channel_names = /sensor/camera/traffic/image_short,/sensor/camera/obstacle/image_narrow
timestamp_offset = 0.0
camera_obstacle_perception_conf_dir = conf/perception/camera
# camera_obstacle_perception_conf_file = obstacle_fusion.pt
camera_obstacle_perception_conf_file = obstacle.pt
frame_capacity = 20
image_channel_num = 3
enable_undistortion = true
enable_visualization = true
output_final_obstacles = false
output_obstacles_channel_name = /perception/obstacles
camera_perception_viz_message_channel_name = /perception/inner/camera_viz_msg
prefused_channel_name = /perception/inner/PrefusedObjects
default_camera_pitch = 0.0
default_camera_height = 1.5
lane_calibration_working_sensor_name = onsemi_obstacle
calibrator_method = LaneLineCalibrator
calib_service_name = OnlineCalibrationService
run_calib_service = true
output_camera_debug_msg = true
camera_debug_channel_name = /perception/obstacles_camera_debug
ts_diff = 0.1