tl_tf2_frame_id : "world"
#tl_tf2_child_frame_id : "perception_localization_100hz"
tl_tf2_child_frame_id : "novatel"
tf2_timeout_second : 0.01
camera_names : "front_6mm,front_12mm"
camera_channel_names : "/apollo/sensor/camera/front_6mm/image,/apollo/sensor/camera/front_12mm/image"
tl_image_timestamp_offset : 0.0
max_process_image_fps : 8
query_tf_interval_seconds : 0.3
valid_hdmap_interval : 1.5
image_sys_ts_diff_threshold : 0.5
sync_interval_seconds : 0.5
camera_traffic_light_perception_conf_dir : "../modules/perception/production/conf/perception/camera"
camera_traffic_light_perception_conf_file : "trafficlight.pt"
default_image_border_size : 100
#traffic_light_output_channel_name : "/perception/traffic_light_status"
traffic_light_output_channel_name : "/apollo/perception/traffic_light"
simulation_channel_name : "/perception/traffic_light_simulation"
v2x_trafficlights_input_channel_name : "/apollo/v2x/traffic_light"
v2x_sync_interval_seconds : 0.1
max_v2x_msg_buff_size : 50
