[TrafficLightsPerceptionComponent]
tl_tf2_frame_id = world
tl_tf2_child_frame_id = perception_localization_100hz
tf2_timeout_second = 0.01
camera_names = onsemi_traffic,onsemi_narrow,onsemi_obstacle,onsemi_wide
camera_channel_names = /sensor/camera/traffic/image_long,/sensor/camera/obstacle/image_narrow,/sensor/camera/traffic/image_short,/sensor/camera/obstacle/image_wide
tl_image_timestamp_offset = 0.0
max_process_image_fps = 8
query_tf_interval_seconds = 0.3
valid_hdmap_interval = 1.5
image_sys_ts_diff_threshold = 0.5
sync_interval_seconds = 0.5
camera_traffic_light_perception_conf_dir = conf/perception/camera
camera_traffic_light_perception_conf_file = trafficlight.pt
default_image_border_size = 100
traffic_light_output_channel_name = /perception/traffic_light_status
simulation_channel_name = /perception/traffic_light_simulation