model_configs {
    # ProbabilisticFusion model.
    name: "ProbabilisticFusion"
    version: "1.0.0"
    string_params {
        name: "root_dir"
        value: "/apollo/modules/perception/conf/fusion/modules/"
    }
    string_params {
        name: "config_file"
        value: "probabilistic_fusion.pt"
    }
}
