<launch>
<node  name="driver_node" pkg="rslidar_driver" type="driver_node" output="screen" >
    <param name="model" value="RS16"/>
    <!-- Set the Lidar data port on the PC side, default is 6699 -->
    <param name="msop_data_port" value="6699"/>
  </node>


  <node  name="convert_node" pkg="rslidar_pointcloud" type="convert_node" output="screen" >
    <param name="model" value="RS16"/>
    <param name="curves_path" value="$(find rslidar_pointcloud)/data/rs_lidar_16/curves.csv"/>
    <param name="angle_path" value="$(find rslidar_pointcloud)/data/rs_lidar_16/angle.csv"/>
    <param name="channel_path" value="$(find rslidar_pointcloud)/data/rs_lidar_16/ChannelNum.csv"/>
  </node>


</launch>
