<!-- -*- mode: XML -*- -->
<!-- Copyright (C) 2018, Velodyne LiDAR INC., Algorithms and Signal Processing Group -->
<!-- Author : Velodyne LiDAR, Algorithms and Signal Processing Group -->
<!-- run velodyne_pointcloud/CloudNodelet in a nodelet manager for an VLS128 -->

<launch>

  <!-- declare arguments with default values -->
  <arg name="rviz" default="false" />
  <arg name="calibration" default="$(find velodyne_pointcloud)/params/VeloView_VLS-128_FS1.yaml"/>
  <arg name="device_ip" default="" />
  <arg name="frame_id" default="velodyne" />
  <arg name="manager" default="$(arg frame_id)_nodelet_manager" />
  <arg name="max_range" default="200.0" />
  <arg name="min_range" default="0.4" />
  <arg name="pcap" default=" " />
  <arg name="port" default="2368" />
  <arg name="read_fast" default="false" />
  <arg name="read_once" default="false" />
  <arg name="repeat_delay" default="0.0" />
  <arg name="rpm" default="600.0" />

  <!-- start nodelet manager and driver nodelets -->
  <include file="$(find velodyne_driver)/launch/nodelet_manager.launch">
    <arg name="device_ip" value="$(arg device_ip)"/>
    <arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="manager" value="$(arg manager)" />
    <arg name="model" value="VLS128"/>
    <arg name="pcap" value="$(arg pcap)"/>
    <arg name="port" value="$(arg port)"/>
    <arg name="read_fast" value="$(arg read_fast)"/>
    <arg name="read_once" value="$(arg read_once)"/>
    <arg name="repeat_delay" value="$(arg repeat_delay)"/>
    <arg name="rpm" value="$(arg rpm)"/>
  </include>

  <!-- start cloud nodelet -->
  <include file="$(find velodyne_pointcloud)/launch/cloud_nodelet.launch">
    <arg name="calibration" value="$(arg calibration)"/>
    <arg name="manager" value="$(arg manager)" />
    <arg name="max_range" value="$(arg max_range)"/>
    <arg name="min_range" value="$(arg min_range)"/>
  </include>

  <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find lidarslam)/rviz/lidar_slam.rviz"/>
  </group>

</launch>
