<cyber>
    <desc>Apollo radar4d object detection</desc>
    <version>1.0.0</version>
    <module>
        <name>radar4d</name>
        <dag_conf>/apollo/modules/perception/radar4d_detection/dag/radar4d_detection.dag</dag_conf>
        <dag_conf>/apollo/modules/perception/msg_adapter/dag/msg_adapter.dag</dag_conf>
        <process_name>radar4d</process_name>
        <version>1.0.0</version>
    </module>
</cyber>
