<!--this file list the modules which will be loaded dynamicly and their process name to be running in -->

<cybertron>
	<desc>cybertron modules list config</desc>
	<version>1.0.0</version>

	<module>
		<name>gnss</name>
		<dag_conf>/apollo/modules/drivers/gnss/dag/gnss.dag</dag_conf>
		<process_name>apollo</process_name>
		<version>1.0.0</version>
	</module>

	<module>
		<name>velodyne</name>
		<dag_conf>/apollo/modules/drivers/velodyne/dag/velodyne_udev.dag</dag_conf>
		<process_name>apollo</process_name>
		<version>1.0.0</version>
	</module>

	<module>
		<name>camera</name>
		<dag_conf>/apollo/modules/drivers/camera/dag/camera_udev.dag</dag_conf>
		<process_name>apollo</process_name>
		<version>1.0.0</version>
	</module>

	<module>
		<name>conti_radar</name>
		<dag_conf>/apollo/modules/drivers/radar/conti_radar/dag/conti_radar_udev.dag</dag_conf>
		<process_name>apollo</process_name>
		<version>1.0.0</version>
	</module>
	
	<module>
        <name>localization</name>
        <dag_conf>/apollo/modules/localization/dag/localization.dag</dag_conf>
        <process_name>apollo</process_name>
        <version>1.0.0</version>
    </module>
	
    <module>
        <name>perception</name>
        <dag_conf>/apollo/modules/perception/production/dag/dag_streaming_perception.dag</dag_conf>
        <process_name>apollo</process_name>
        <version>1.0.0</version>
    </module>

	<module>
		<name>canbus</name>
		<dag_conf>/apollo/modules/canbus/dag/canbus.dag</dag_conf>
		<process_name>apollo-control</process_name>
		<version>1.0.0</version>
	</module>

	<module>
		<name>control</name>
		<dag_conf>/apollo/modules/control/dag/control.dag</dag_conf>
		<process_name>apollo-control</process_name>
		<version>1.0.0</version>
	</module>

	<module>
		<name>guardian</name>
		<dag_conf>/apollo/modules/guardian/dag/guardian.dag</dag_conf>
		<process_name>apollo-control</process_name>
		<version>1.0.0</version>
	</module>

	<module>
		<name>routing</name>
		<dag_conf>/apollo/modules/routing/dag/routing.dag</dag_conf>
		<process_name>apollo</process_name>
		<version>1.0.0</version>
	</module>

	<module>
		<name>planning</name>
		<dag_conf>/apollo/modules/planning/dag/planning.dag</dag_conf>
		<process_name>apollo</process_name>
		<version>1.0.0</version>
	</module>

	<module>
		<name>prediction</name>
		<dag_conf>/apollo/modules/prediction/dag/prediction.dag</dag_conf>
		<process_name>apollo</process_name>
		<version>1.0.0</version>
	</module>

	<module>
		<name>static_transform</name>
		<dag_conf>/apollo/modules/transform/dag/static_transform.dag</dag_conf>
		<process_name>apollo</process_name>
		<version>1.0.0</version>
	</module>

</cybertron>
