model_configs {
    name: "CCLanePostProcessor"
    version: "0.1.0"

    string_params {
        name: "space_type"
        value: "vehicle"
    }

    integer_params {
        name: "image_width"
        value: 1920
    }

    integer_params {
        name: "image_height"
        value: 1080
    }

    array_float_params {
        name: "roi"
        values: 0
        values: 440
        values: 1920
        values: 640
    }

    bool_params {
        name: "use_non_mask"
        value: false
    }

    array_float_params {
        name: "non_mask"
        values: 960   # x coordinate of point
        values: 810   # y coordinate of point
        values: 1260
        values: 1079
        values: 660
        values: 1079
    }

    float_params {
        name: "lane_map_confidence_thresh"
        value: 0.5
    }

    float_params {
        name: "cc_split_siz"
        value: 50.0
    }

    integer_params {
        name: "cc_split_len"
        value: 25
    }

    integer_params {
        name: "min_cc_pixel_num"
        value: 10
    }

    integer_params {
        name: "min_cc_size"
        value: 5
    }

    float_params {
        name: "min_y_search_offset"
        value: 0.5
    }
    float_params {
        name: "min_y_search_offset_image"
        value: 0.5
    }

    # association method
    string_params {
        name: "assoc_method"
        value: "greedy_group_connect"
    }

    # minimum distance
    float_params {
        name: "assoc_min_distance"
        value: -0.5
    }
    float_params {
        name: "assoc_min_distance_image"
        value: -3
    }

    # maximum distance
        float_params {
        name: "assoc_max_distance"
        value: 60.0
    }
    float_params {
        name: "assoc_max_distance_image"
        value: 400.0
    }

    float_params {
        name: "assoc_distance_weight"
        value: 0.4
    }

    # max deviation angle
    float_params {
        name: "assoc_max_deviation_angle"
        value: 15.0
    }
    float_params {
        name: "assoc_max_deviation_angle_image"
        value: 45.0
    }

    float_params {
        name: "assoc_deviation_angle_weight"
        value: 0.2
    }

    # max departure distance
    float_params {
        name: "assoc_max_departure_distance"
        value: 3.0
    }
    float_params {
        name: "assoc_max_departure_distance_image"
        value: 80.0
    }

    float_params {
        name: "assoc_departure_distance_weight"
        value: 0.2
    }

    # max relative orientation
    float_params {
        name: "assoc_max_relative_orie"
        value: 15.0
    }
    float_params {
        name: "assoc_max_relative_orie_image"
        value: 45.0
    }

    float_params {
        name: "assoc_relative_orie_weight"
        value: 0.2
    }

    # minimum size threshold used for orientation estimation
    float_params {
        name: "assoc_min_orientation_estimation_size"
        value: 3.0
    }
    float_params {
        name: "assoc_min_orientation_estimation_size_image"
        value: 10.0
    }

    # maximum number of markers for each CC used in greed search association
    integer_params {
        name: "max_cc_marker_match_num"
        value: 1
    }

    # maximum window size for greed sliding window association
    float_params {
        name: "slide_window_size"
        value: 15.0
    }
    float_params {
        name: "slide_window_size_image"
        value: 200.0
    }

    # maximum number of markers used for greed sliding window association
    integer_params {
        name: "slide_window_max_point_num"
        value: 3
    }

    # maximum number of markers used for orientation estimation in greed group connect association
    integer_params {
        name: "max_group_prediction_marker_num"
        value: 3
    }

    # skip marker number used for orientation estimation in marker association
    integer_params {
        name: "orientation_estimation_skip_marker_num"
        value: 1
    }

    # predefined lane interval distance
    float_params {
        name: "lane_interval_distance"
        value: 4.0
    }

    # minimum size of lane instances to be prefiltered
    float_params {
        name: "min_instance_size_prefiltered"
        value: 3.0
    }
    float_params {
        name: "min_instance_size_prefiltered_image"
        value: 20.0
    }

    # maximum size used for fitting straight lines on lane instances
    float_params {
        name: "max_size_to_fit_straight_line"
        value: 10.0
    }
    float_params {
        name: "max_size_to_fit_straight_line_image"
        value: 300.0
    }

    # initial online pitch angle (in degree)
    float_params {
        name: "online_pitch_angle"
        value: -2.5
    }

    # initial ground height (in meter)
    float_params {
        name: "ground_height"
        value: 1.6
    }

    # maximum perception distance for transformer (in meter)
    float_params {
        name: "max_distance_to_see_for_transformer"
        value: 500.0
    }
}