<!--this file list the modules which will be loaded dynamicly and
    their process name to be running in -->

<cyber>
    <desc>cyber modules list config</desc>
    <version>1.0.0</version>

    <!-- sample module config, and the files should have relative path like
         ./bin/cyber_launch
         ./bin/mainboard
         ./conf/dag_streaming.conf -->

    <module>
        <name>perception_traffic_light</name>
        <dag_conf>dag_streaming_perception_trafficlights.dag</dag_conf>
        <!-- if not set, use default process -->
        <process_name>perception_trafficlights</process_name>
        <version>1.0.0</version>
    </module>

    <module>
        <name>trafficlights_visualizer</name>
        <dag_conf></dag_conf>
        <type>binary</type>
        <process_name>tl_visualizer --tl_save_debug_image=false</process_name>
        <version>1.0.0</version>
    </module>
</cyber>
