<cyber>
    <module>
        <name>common</name>
        <dag_conf>/apollo/cyber/examples/common_component_example/common.dag</dag_conf>
        <cpuprofile>/apollo/example_cpu.prof</cpuprofile>
        <memprofile>/apollo/example_mem.prof</memprofile>
        <process_name>common</process_name>
    </module>
</cyber>
