<launch>
    <arg name="gnss_conf" default="$(find gnss_driver)/conf/gnss_conf_mkz.txt" />
    <arg name="proj4_text" default="+proj=utm +zone=10 +ellps=WGS84 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs " />
    <arg name="topic_odometry" default="/apollo/sensor/gnss/odometry" />
    <arg name="frame_id" default="world" />
    <arg name="child_frame_id" default="novatel" />

    <node pkg="nodelet" type="nodelet" name="gnss_nodelet_manager"
        args="manager" output="screen">
    </node>

    <node pkg="nodelet" type="nodelet" name="stream_nodelet"
        args="load gnss_driver/StreamNodelet gnss_nodelet_manager" output="screen">
        <param name="gnss_conf" value="$(arg gnss_conf)" />
    </node>

    <node pkg="nodelet" type="nodelet" name="parser_nodelet"
        args="load gnss_driver/ParserNodelet gnss_nodelet_manager" output="screen">
        <param name="gnss_conf" value="$(arg gnss_conf)" />
        <param name="proj4_text" value="$(arg proj4_text)" />
    </node>

    <node pkg="nodelet" type="nodelet" name="rtcm_parser_nodelet"
        args="load gnss_driver/RtcmParserNodelet gnss_nodelet_manager" output="screen">
    </node>

    <node pkg="nodelet" type="nodelet" name="tf_broadcaster_nodelet"
        args="load gnss_driver/TFBroadcasterNodelet gnss_nodelet_manager" output="screen">
        <param name="topic_odometry" value="$(arg topic_odometry)" />
        <param name="frame_id" value="$(arg frame_id)" />
        <param name="child_frame_id" value="$(arg child_frame_id)" />
    </node>
</launch>
