model_configs {
    # Probabilistic_Fusion model.
    name: "AsyncFusion"
    version: "1.0.0"
    string_params {
        name: "match_method"
        value: "hm_matcher"
    }
    float_params {
        name: "max_match_distance"
        value: 4.0
    }
    float_params {
        name: "max_lidar_invisible_period"
        value: 0.25
    }
    float_params {
        name: "max_radar_invisible_period"
        value: 0.25
    }
    float_params {
        name: "max_radar_confident_angle"
        value: 30
    }
    float_params {
        name: "min_radar_confident_distance"
        value: 40
    }
    # publish the fused object if it has a lidar measurement
    bool_params {
        name: "publish_if_has_lidar"
        value: true
    }
    # publish the fused object if it has a radar measurement
    bool_params {
        name: "publish_if_has_radar"
        value: true
    }
    string_params {
        name: "publish_sensor"
        # candidate values: "velodyne_64", "radar", "camera_front_short"
        value: "velodyne_64"
    }
    bool_params {
        name: "use_radar"
        value: true
    }
    bool_params {
        name: "use_lidar"
        value: true
    }
}
