model_configs {
    name: "CNNSegmentation"
    version: "1.0.0"
    string_params {
        name: "config_file"
        value: "./model/cnn_segmentation/cnnseg.conf"
    }

    string_params {
        name: "proto_file"
        value: "./model/cnn_segmentation/deploy.prototxt"
    }

    string_params {
        name: "weight_file"
        value: "./model/cnn_segmentation/deploy.caffemodel"
    }
}