model_configs {
    # LowObjectFilter model.
    name: "LowObjectFilter"
    version: "1.0.0"

    # @name: object_height_threshold
    # @brief: the threshold of object height 
    # @required: 
    double_params {
        name: "object_height_threshold"
        value: 0.10
    }

    # @name: object_position_height_threshold
    # @brief: the threshold of the height distance between the object and lidar (in lidar coordinate)
    # @required:
    double_params {
        name: "object_position_height_threshold"
        value: -1.6
    }
}
