model_configs {
    # ModestRadarDetector model.
    name: "ModestRadarDetector"
    version: "1.0.0"
    bool_params {
        name: "use_had_map"
        value: true
    }
    double_params {
        name: "max_theta"
        value: 30
    }
    integer_params {
        name: "delay_frames"
        value: 4
    }
    string_params {
        name: "chosen_filter"
        value: "Adaptive Kalman Filter"
                  #Adaptive Kalman Filter
    }
    bool_params {
        name: "use_fp_filter"
        value: true
    }
    bool_params {
        name: "use_kf_filter"
        value: true
    }
    double_params {
        name: "probexist_vehicle"
        value: 0.9
    }
    double_params {
        name: "probexist_pedestrian"
        value: 0.25
    }
    double_params {
        name: "probexist_bicycle"
        value: 0.25
    }
    double_params {
        name: "probexist_unknown"
        value: 0.99
    }
    double_params {
        name: "lo_vel_rms_vehicle"
        value: 0.2
    }
    double_params {
        name: "la_vel_rms_vehicle"
        value: 0.3
    }
    double_params {
        name: "lo_dist_rms_vehicle"
        value: 0.15
    }
    double_params {
        name: "la_dist_rms_vehicle"
        value: 0.2
    }
    double_params {
        name: "lo_vel_rms_pedestrian"
        value: 0.5
    }
    double_params {
        name: "la_vel_rms_pedestrian"
        value: 0.8
    }
    double_params {
        name: "lo_dist_rms_pedestrian"
        value: 0.5
    }
    double_params {
        name: "la_dist_rms_pedestrian"
        value: 0.8
    }
    double_params {
        name: "lo_vel_rms_bicycle"
        value: 0.5
    }
    double_params {
        name: "la_vel_rms_bicycle"
        value: 0.8
    }
    double_params {
        name: "lo_dist_rms_bicycle"
        value: 0.5
    }
    double_params {
        name: "la_dist_rms_bicycle"
        value: 0.8
    }
    double_params {
        name: "lo_vel_rms_unknown"
        value: 0.2
    }
    double_params {
        name: "la_vel_rms_unknown"
        value: 0.3
    }
    double_params {
        name: "lo_dist_rms_unknown"
        value: 0.2
    }
    double_params {
        name: "la_dist_rms_unknown"
        value: 0.3
    }
}
