model_configs {
	name: "SequenceTypeFuser"
	version: "1.1.0"

	double_params {
	    name: "temporal_window"
	    value: 20.0
	}

	string_params {
	    name: "classifiers_property_file_path"
	    value: "./model/sequence_type_fuser/classifiers.property"
	}

	string_params {
	    name: "transition_property_file_path"
	    value: "./model/sequence_type_fuser/transition.property"
	}
}
