model_configs {
    name: "HmObjectTracker"
    version: "1.1.0"

    # tracker setup
    string_params {
        name: "matcher_method_name"
        value: "hungarian_matcher"
    }
    string_params {
        name: "filter_method_name"
        value: "kalman_filter"
    }
    integer_params {
        name: "consecutive_invisible_count_minimum"
        value: 0
    }
    integer_params {
        name: "collect_age_minimum"
        value: 0
    }
    integer_params {
        name: "invisible_window"
        value: 1
    }

    # matcher parameters
    float_params {
        name: "max_match_distance"
        value: 4.0
    }
    float_params {
        name: "weight_location_dist"
        value: 0.6
    }
    float_params {
        name: "weight_direction_dist"
        value: 0.2
    }
    float_params {
        name: "weight_bbox_size_dist"
        value: 0.1
    }
    float_params {
        name: "weight_point_num_dist"
        value: 0.1
    }
    float_params {
        name: "weight_histogram_dist"
        value: 0.5
    }
    integer_params {
        name: "histogram_bin_size"
        value: 10
    }
    
    # filter paramters
    bool_params {
        name: "use_adaptive"
        value: true
    }
    float_params {
        name: "centroid_measurement_noise"
        value: 0.4
    }
    float_params {
        name: "centroid_initial_velocity_variance"
        value: 5
    }
    float_params {
        name: "propagation_variance_xy"
        value: 10
    }
    float_params {
        name: "propagation_variance_z"
        value: 10
    }

    # post-processing parameters
    float_params {
        name: "speed_threshold"
        value: 1.0 # m/s
    }
}
