model_configs {
    name: "HmObjectTracker"
    version: "1.1.0"

    # tracker setup
    string_params {
        name: "matcher_method_name"
        value: "hungarian_matcher"
    }
    string_params {
        name: "filter_method_name"
        value: "kalman_filter"
    }
    integer_params {
        name: "track_cached_history_size_maximum"
        value: 5
    }
    integer_params {
        name: "track_consecutive_invisible_maximum"
        value: 1
    }
    float_params {
        name: "track_visible_ratio_minimum"
        value: 0.6
    }
    integer_params {
        name: "collect_age_minimum"
        value: 0
    }
    integer_params {
        name: "collect_consecutive_invisible_maximum"
        value: 0
    }
    float_params {
        name: "acceleration_noise_maximum"
        value: 5
    }
    float_params {
        name: "speed_noise_maximum"
        value: 0.4
    }

    # matcher parameters
    float_params {
        name: "match_distance_maximum"
        value: 4.0
    }
    float_params {
        name: "location_distance_weight"
        value: 0.6
    }
    float_params {
        name: "direction_distance_weight"
        value: 0.2
    }
    float_params {
        name: "bbox_size_distance_weight"
        value: 0.1
    }
    float_params {
        name: "point_num_distance_weight"
        value: 0.1
    }
    float_params {
        name: "histogram_distance_weight"
        value: 0.5
    }
    integer_params {
        name: "histogram_bin_size"
        value: 10
    }
    
    # filter paramters
    bool_params {
        name: "use_adaptive"
        value: true
    }
    float_params {
        name: "measurement_noise"
        value: 0.4
    }
    float_params {
        name: "initial_velocity_noise"
        value: 5
    }
    float_params {
        name: "xy_propagation_noise"
        value: 10
    }
    float_params {
        name: "z_propagation_noise"
        value: 10
    }
    float_params {
        name: "breakdown_threshold_maximum"
        value: 10.0
    }
}
