<cybertron>
    <module>
        <name>driver</name>
        <dag_conf>/apollo/modules/example/component_driver/dag/driver.dag</dag_conf>
        <process_name></process_name>
    </module>

    <module>
        <name>perception</name>
        <dag_conf>/apollo/modules/example/component_perception/dag/perception.dag</dag_conf>
        <process_name></process_name>
    </module>

    <module>
        <name>planning</name>
        <dag_conf>/apollo/modules/example/component_planning/dag/planning.dag</dag_conf>
        <process_name></process_name>
    </module>

</cybertron>
