.ant-tooltip {
  .ant-tooltip-content {
    .ant-tooltip-inner {
      text-align: center;
      padding: 12px 10px;
      border-radius: 8px;
      min-width: 300px;
      min-height: 50px;
      line-height: 20px;
    }
  }
}
