<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Apollo Navigator </title>
    <style type="text/css">
        html{height:100%}
        body{height:100%;margin:0px;padding:0px}
    </style>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyArRypN9OdShkutQzOcbxC4cwrIHU1xi3Y"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=0kKZnWWhXEPfzIkklmzAa3dZ"></script>
</head>

<body style="margin:0px; padding:0px;">
    <div id="map_canvas" style="width: 100%; height: 100%;"></div>
    <script type="text/javascript" src="/navigation.bundle.js"></script>
</body>

</html>