<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Google Maps - pygmaps </title>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyArRypN9OdShkutQzOcbxC4cwrIHU1xi3Y"></script>
</head>

<body style="margin:0px; padding:0px;">
    <div id="map_canvas" style="width: 100%; height: 100%;"></div>
    <script type="text/javascript" src="/navigation.bundle.js"></script>
</body>

</html>