<cyber>
    <module>
        <name>external_command_demo_wrapper</name>
        <dag_conf>/apollo/modules/external_command/external_command_demo/dag/external_command_demo_wrapper.dag</dag_conf>
        <process_name>external_command_demo_wrapper</process_name>
    </module>
    <module>
        <name>external_command_process</name>
        <dag_conf>/apollo/modules/external_command/process_component/dag/external_command_process.dag</dag_conf>
        <process_name>external_command_process</process_name>
    </module>
</cyber>
