model_config_path: "model/tracker.config"
model_config_path: "model/cnn_segmentation.config"
model_config_path: "model/hdmap_roi_filter.config"
model_config_path: "model/low_object_filter.config"
model_config_path: "model/modest_radar_detector.config"
model_config_path: "model/async_fusion.config"
model_config_path: "model/sequence_type_fuser.config"
model_config_path: "model/traffic_light/multi_camera_projection.config"
model_config_path: "model/traffic_light/recognizer.config"
model_config_path: "model/traffic_light/rectifier.config"
model_config_path: "model/traffic_light/reviser.config"
model_config_path: "model/traffic_light/preprocessor.config"
model_config_path: "model/traffic_light/subnodes.config"
model_config_path: "model/camera/geometry_camera_converter.config"
