# Nvidia Driver and CUDA are required for these 2 subnodes
subnode_config {
    # Camera node
    subnodes {
        id: 3
        name: "CameraProcessSubnode"
        reserve: "device_id:camera;"
        type: SUBNODE_IN
    }

    subnodes {
        id: 5
        name: "LanePostProcessingSubnode"
        type: SUBNODE_NORMAL
    }
    subnodes {
        id: 2
        name: "RadarProcessSubnode"
        reserve: "device_id:radar_front;"
        type: SUBNODE_IN
    }
    subnodes {
        id: 31
        name: "FusionSubnode"
        reserve: "pub_driven_event_id:1009;lane_event_id:1010;camera_event_id:1009;radar_event_id:1013;"
        type: SUBNODE_NORMAL
    }

    # Visualization node
    subnodes {
        id: 41
        name: "VisualizationSubnode"
        reserve: "vis_driven_event_id:1011;camera_event_id:1008;fusion_event_id:1011;radar_event_id:1012;lane_event_id:1014;"
        type: SUBNODE_OUT
    }
}

###################################################################
# Define all edges which link nodes.
edge_config {

    # CameraDetectorSubnode -> LanePostProcessingSubnode
    edges {
        id: 106
        from_node: 3
        to_node: 5
        events {
            id: 1004
            name: "lane_postprocessing"
        }
    }
   
    # CameraProcessSubnode -> VisualizationSubnode
    edges {
        id: 108
        from_node: 3
        to_node: 41
        events {
            id: 1008
            name: "camera_visualization"
        }
    }
	
    # CameraProcessSubnode -> FusionSubnode
    edges {
        id: 109
        from_node: 3
        to_node: 31
        events {
            id: 1009
            name: "camera_fusion"
        }
    }

    # LanePostProcessingSubnode -> FusionSubnode
    edges {
        id: 110
        from_node: 5
        to_node: 31
        events {
            id: 1010
            name: "lane_fusion"
        }
    }

    # FusionSubnode -> VisualizationSubnode
    edges {
        id: 111
        from_node: 31
        to_node: 41
        events {
            id: 1011
            name: "fusion_visualization"
        }
    }

    # RadarSubnode -> VisualizationSubnode
    edges {
        id: 112
        from_node: 2
        to_node: 41
        events {
            id: 1012
            name: "radar_visualization"
        }
     }
    
    # RadarSubnode -> FusionSubnode
    edges {
        id: 113
        from_node: 2
        to_node: 31
        events {
            id: 1013
            name: "radar_fusion"
        }
    }

    # LanePostProcessingSubnode -> VisualizationSubnode
    edges {
        id: 114
        from_node: 5
        to_node: 41
        events {
            id: 1014
            name: "lane_visualization"
        }
    }
}

# Shared Data
data_config {
    datas {
        id: 5
        name: "CameraObjectData"
    }
    datas {
        id: 7
        name: "CameraSharedData"
    }
    datas {
        id: 8
        name: "LaneSharedData"
    }
    datas {
        id: 9
        name: "FusionSharedData"
    }
    datas {
        id: 10
        name: "RadarObjectData"
    }
}
