# Nvidia Driver on host is required for this config
subnode_config {
    # Camera node. publish pb with non-zero int
    subnodes {
        id: 3
        name: "CameraProcessSubnode"
        reserve: "device_id:camera;pb_obj:0;pb_ln_msk_:0;"
        type: SUBNODE_IN
    }
    subnodes {
        id: 2
        name: "MotionService"
        reserve: "device_id:motion_service;"
        type: SUBNODE_IN
    }
   subnodes {
        id: 5
        name: "LanePostProcessingSubnode"
        reserve: "device_id:camera;publish:2;motion_event_id:1021"
        type: SUBNODE_NORMAL
    }
    subnodes {
        id: 4
        name: "RadarProcessSubnode"
        reserve: "device_id:radar_front;"
        type: SUBNODE_IN
    }
    subnodes {
        id: 31
        name: "FusionSubnode"
        reserve: "pub_driven_event_id:1009;lane_event_id:1010;camera_event_id:1009;radar_event_id:1013;motion_event_id:1022"
        type: SUBNODE_NORMAL
    }
    # Visualization node
    subnodes {
        id: 41
        name: "VisualizationSubnode"
        reserve: "vis_driven_event_id:1011;motion_event_id:1020;fusion_event_id:1011;"
        type: SUBNODE_OUT
    }
}

###################################################################
# Define all edges which link nodes.
edge_config {
    # CameraProcessSubnode -> VisualizationSubnode
   edges {
        id: 106
        from_node: 3
        to_node: 5
        events {
            id: 1004
            name: "lane_postprocessing"
        }
    }
    edges {
        id: 109
        from_node: 3
        to_node: 31
        events {
            id: 1009
            name: "camera_fusion"
        }
    }
    edges {
        id: 110
        from_node: 5
        to_node: 31
        events {
            id: 1010
            name: "lane_fusion"
        }
    }

    # RadarSubnode -> FusionSubnode
    edges {
        id: 113
        from_node: 4
        to_node: 31
        events {
            id: 1013
            name: "radar_fusion"
        }
    }
    edges {
        id: 111
        from_node: 31
        to_node: 41
        events {
            id: 1011
            name: "fusion_visualization"
        }
    }
    edges {
        id: 120
        from_node: 2
        to_node: 41
        events {
            id: 1020
            name: "motion_visualization"
        }
    }
#    edges {
#        id: 120
#        from_node: 2
#        to_node: 31
#        events {
#            id: 1022
#            name: "motion_fusion"
#        }
#    }
#    edges {
#        id: 121
#        from_node: 2
#        to_node: 5
#        events {
#            id: 1021
#            name: "motion_lane"
#        }
#    }
}

# Shared Data
data_config {
    datas {
        id: 5
        name: "CameraObjectData"
    }
    datas {
        id: 7
        name: "CameraSharedData"
    }
    datas {
        id: 8
        name: "LaneSharedData"
    }
    datas {
        id: 9
        name: "FusionSharedData"
    }
    datas {
        id: 10
        name: "RadarObjectData"
    }
}
