# Define all nodes in DAG streaming.
subnode_config {
         # Front radar Input nodes.
         subnodes {
             id: 2
             name: "RadarProcessSubnode"
             reserve: "device_id:radar;"
             type: SUBNODE_IN
         }

        # Camera Input nodes.
        subnodes {
                id: 3
                name: "MixDetectorSubnode"
                reserve: "source_type:0;source_name:/sensor/camera/traffic/image_short;device_id:camera;"
                type: SUBNODE_IN
        }

		subnodes {
                id: 4
                name: "MotionService"
                reserve: "source_type:0;source_name:/inspva_info;device_id:motion_service"
                type: SUBNODE_IN
		}

        # Lane Post Processing Subnode
        subnodes {
                id: 5
                name: "LanePostProcessingSubnode"
                type: SUBNODE_NORMAL
        }

		# CIPV Subnode
        subnodes {
                id: 8
                name: "CIPVSubnode"
				reserve: "camera_event_id:1014;lane_event_id:1015"
                type: SUBNODE_NORMAL
        }

    	# Fusion node.
        subnodes {
                id: 31
                name: "FusionSubnode"
                reserve: "pub_driven_event_id:1005;radar_event_id:1003;camera_event_id:1005;fused_output_msg: sink_type=9&sink_name=/kouliang"
                type: SUBNODE_OUT
        }

        # Visualization node
        subnodes {
                id: 41
                name: "VisualizationSubnode"
                reserve: "vis_driven_event_id:1009;fusion_event_id:1006;radar_event_id:1007;camera_event_id:1008;cipv_event_id:1009"
        }
}

###################################################################
# Define all edges linked nodes.
edge_config {
        #Radar RadarDetectorSubnode -> FusionSubnode
        edges {
                id: 102
                from_node: 2
                to_node: 31
                events {
                        id: 1003
                        name: "radar_fusion"
                }
        }

        # CameraDetectorSubnode -> Lane Post Processing Subnode
        edges {
                id: 106
                from_node: 3
                to_node: 5
                events {
                        id: 1004
                        name: "lane_postprocessing"
                }
        }

        # Lane Post Processing Subnode -> FusionSubnode
        edges {
                id: 105
                from_node: 5
                to_node: 31
                events {
                        id: 1005
                        name: "camera_fusion"
                }
        }

        # FusionSubnode -> VisualizationSubnode
        edges {
                id: 106
                from_node: 31
                to_node: 41
                events {
                        id: 1006
                        name: "visualization"
                }
        }

        # Radar RadarDetectorSubnode -> VisualizationSubnode
        edges {
                id: 107
                from_node: 2
                to_node: 41
                events {
                        id: 1007
                        name: "radar_visualization"
                }
        }

		# Camera CameraDecetorSubnode -> VisualizationSubnode
        edges {
                id: 108
                from_node: 3
                to_node: 41
                events {
                        id: 1008
                        name: "camera_visualization"
                }
        }

        # Camera CIPVSubnode -> VisualizationSubnode
        edges {
                id: 109
                from_node: 8
                to_node: 41
                events {
                        id: 1009
                        name: "cipv_visualization"
                }
        }

        edges {
                id: 109
                from_node: 4
                to_node: 41
                events {
                        id: 1009
                        name: "motion_visualization"
                }
        }

        # CameraDecetorSubnode -> CIPVSubnode
        edges {
                id: 114
                from_node: 3
                to_node: 8
                events {
                        id: 1014
                        name: "camera_cipv"
                }
        }

		# LaneDecetorSubnode -> CIPVSubnode
        edges {
                id: 115
                from_node: 5
                to_node: 8
                events {
                        id: 1015
                        name: "lane_cipv"
                }
        }
}

data_config {
        datas {
                id: 4
                name: "RadarObjectData"
        }
        datas {
                id: 5
                name: "CameraObjectData"
        }
        datas {
                id: 6
                name: "FusionSharedData"
        }
        datas {
                id: 7
                name: "CameraSharedData"
        }
        datas {
                id: 8
                name: "LaneSharedData"
        }
        datas {
                id: 9
                name: "CIPVObjectData"
        }
}
