# Nvidia Driver on host is required for this config
subnode_config {
    # Camera node. publish pb with non-zero int
    subnodes {
        id: 3
        name: "CameraProcessSubnode"
        reserve: "device_id:camera;publish:1;"
        type: SUBNODE_IN
    }
    subnodes {
        id: 2
        name: "MotionService"
        reserve: "device_id:motion_service;"
        type: SUBNODE_IN
    }
   subnodes {
        id: 5
        name: "LanePostProcessingSubnode"
#        reserve: "device_id:camera;publish:2;"
        reserve: "device_id:camera;publish:2;motion_event_id:1021"
        type: SUBNODE_NORMAL
    }
#    subnodes {
#        id: 31
#        name: "AsyncFusionSubnode"
#        reserve: "camera_event_id:1009;lane_event_id:1010"
#        type: SUBNODE_NORMAL
#    }
    # Visualization node
    subnodes {
        id: 41
        name: "VisualizationSubnode"
        reserve: "vis_driven_event_id:1012;camera_event_id:1008;lane_event_id:1012"
#        reserve: "vis_driven_event_id:1012;camera_event_id:1008;motion_event_id:1020;lane_event_id:1012"
        type: SUBNODE_OUT
    }
}

###################################################################
# Define all edges which link nodes.
edge_config {
		# CameraProcessSubnode -> VisualizationSubnode
   edges {
        id: 106
        from_node: 3
        to_node: 5
        events {
            id: 1004
            name: "lane_postprocessing"
        }
    }
    edges {
        id: 108
        from_node: 3
        to_node: 41
        events {
            id: 1008
            name: "camera_visualization"
        }
    }
#    edges {
#        id: 109
#        from_node: 3
#        to_node: 31
#        events {
#            id: 1009
#            name: "camera_fusion"
#        }
#    } 
#    edges {
#        id: 110
#        from_node: 5
#        to_node: 31
#        events {
#            id: 1010
#            name: "lane_fusion"
#        }
#    }    
#    edges {
#        id: 111
#        from_node: 31
#        to_node: 41
#        events {
#            id: 1011
#            name: "fusion_visualization"
#        }
#    }
    edges {
        id: 112
        from_node: 5
        to_node: 41
        events {
            id: 1012
            name: "lane_visualization"
        }
    }
    edges {
        id: 120
        from_node: 2
        to_node: 41
        events {
            id: 1020
            name: "motion_visualization"
        }
    }
#    edges {
#        id: 121
#        from_node: 2
#        to_node: 5
#        events {
#            id: 1021
#            name: "motion_lane"
#        }
#    }
}

# Shared Data
data_config {
    datas { 
        id: 5
        name: "CameraObjectData"
    }
    datas {
        id: 7
        name: "CameraSharedData"
    }
    datas {
        id: 8
        name: "LaneSharedData"
    }
#    datas {
#        id: 9
#        name: "FusionSharedData"
#    }
}
