# Nvidia Driver on host is required for this config
subnode_config {
    # Camera node. publish pb with non-zero int
    subnodes {
        id: 3
        name: "CameraProcessSubnode"
        reserve: "device_id:camera;publish:1;"
        type: SUBNODE_IN
    }
}

###################################################################
# Define all edges which link nodes.
edge_config {
}

# Shared Data
data_config {
    datas {
        id: 5
        name: "CameraObjectData"
    }
    datas {
        id: 7
        name: "CameraSharedData"
    }
}
