# Nvidia Driver on host is required for this config
subnode_config {
    #Camera node. publish pb with non-zero int
    subnodes {
        id: 3
        name : "CameraProcessSubnode"
        type : SUBNODE_IN
    }

    #Lane Post Processing node
    subnodes {
        id: 5
        name: "LanePostProcessingSubnode"
        reserve : "device_id:camera;publish:2;"
        type: SUBNODE_NORMAL
    }

    #Visualization node
    subnodes {
        id: 41
        name : "VisualizationSubnode"
        reserve : "vis_driven_event_id:1010;camera_event_id:1008;lane_event_id:1010"
    }
}

################################################################## #
#Define all edges which link nodes.
edge_config {
    # CameraDetectorSubnode -> LanePostProcessingSubnode
    edges {
        id: 106
        from_node: 3
        to_node: 5
        events {
            id: 1004
            name: "lane_postprocessing"
        }
    }

    #CameraProcessSubnode->VisualizationSubnode
    edges {
        id: 108
        from_node : 3
        to_node : 41
        events {
            id: 1008
            name : "camera_visualization"
        }
    }

    # LanePostProcessingSubnode -> VisualizationSubnode
    edges {
        id: 109
        from_node: 5
        to_node: 41
        events {
            id: 1010
            name: "lane_visualization"
        }
    }
}

#Shared Data
data_config {
    datas {
        id: 5
        name : "CameraObjectData"
    }
    datas {
        id: 8
        name: "LaneSharedData"
    }
    datas {
        id: 7
        name : "CameraSharedData"
    }
}
