# Nvidia Driver on host is required for this config
subnode_config {
    # Camera node. publish pb with non-zero int
    subnodes {
        id: 3
        name: "CameraProcessSubnode"
        reserve: "device_id:camera;publish:1;"
        type: SUBNODE_IN
    }
    # Visualization node with OpenGL
    subnodes {
        id: 41
        name: "VisualizationSubnode"
        reserve: "vis_driven_event_id:1008;camera_event_id:1008"
    }
}

###################################################################
# Define all edges which link nodes.
edge_config {
		# CameraProcessSubnode -> VisualizationSubnode
    edges {
        id: 108
        from_node: 3
        to_node: 41
        events {
            id: 1008
            name: "camera_visualization"
        }
    }
}

# Shared Data
data_config {
    datas {
        id: 5
        name: "CameraObjectData"
    }
    datas {
        id: 7
        name: "CameraSharedData"
    }
}
