# Define all nodes in DAG streaming.
subnode_config {
    # 64-Lidar Input nodes.
    subnodes {
        id: 1
        name: "LidarProcessSubnode"
        reserve: "device_id:velodyne64;"
        type: SUBNODE_IN
    }

    # Front radar Input nodes.
    subnodes {
        id: 2
        name: "RadarFrontDetectorSubnode"
        reserve: "radar_msg_input: type=0&source_name=/sensor/frontradar/radardata; device_id:radar_front; hdmap_input: type=0&arg=; radar2world_trans: radar_front; velodyne2world_trans: velodyne64;odom_source_type:0;odom_source_name:/sensor/novatel/Odometry"
        type: SUBNODE_IN
    }

    # Fusion node.
    subnodes {
        id: 31
        name: "FusionSubnode"
        reserve: "pub_driven_event_id:1001;lidar_event_id:1001;front_radar_event_id:1002;"
        type: SUBNODE_OUT
    }

}

###################################################################
# Define all edges linked nodes.
edge_config {
    # 64-Lidar LidarProcessSubnode -> FusionSubnode
    edges {
        id: 101
        from_node: 1
        to_node: 31
        events {
            id: 1001
            name: "lidar_fusion"
        }
    }

    # Radar RadarFrontProcessSubnode -> FusionSubnode
    edges {
        id: 102
        from_node: 2
        to_node: 31
        events {
            id: 1002
            name: "front_radar_fusion"
        }
    }

}

data_config {
    datas {
        id: 1
        name: "LidarObjectData"
    }
    datas {
        id: 2
        name: "RadarFrontObjectData"
    }
}
