model_configs {
    name: "FusedClassifier"
    version: "1.0.0"
    string_params {
        name: "root_path"
        value: "/apollo/modules/perception/conf/lidar/modules/fused_classifier"
    }
}

model_configs {
    name: "CCRFOneShotTypeFusion"
    version: "1.0.0"
    string_params {
        name: "root_path"
        value: "/apollo/modules/perception/conf/lidar/modules/fused_classifier"
    }
}

model_configs {
    name: "CCRFSequenceTypeFusion"
    version: "1.0.0"
    string_params {
        name: "root_path"
        value: "/apollo/modules/perception/conf/lidar/modules/fused_classifier"
    }
}
