# data extraction configuration for multi-camera to lidar calibration
# must includes:
# at least 1 camera image channel
# lidar 16 point cloud channel
# GNSS Gps/odometry channel

io_config: {
	task_name: "camera_to_lidar"
	output_path: "/apollo/sensor_calibration/camera_12mm_to_lidar/extracted_data"
	# start_timestamp: "FLOAT_MIN"
	# end_timestamp: "FLOAT_MAX"
	# start_timestamp: "1553901009.071362291"
	# end_timestamp: "1553901012.01"
}

records: {
	# records can be specified as a list
	#record_path: "/apollo/data/bag/test/20190325185008.record.00001"
	#record_path: "/apollo/data/bag/test/20190325185008.record.00002"
	#record_path: "/apollo/data/bag/test/20190325185008.record.00003"
	# or, records can be loaded from a directory
	record_path: "/apollo/sensor_calibration/camera_12mm_to_lidar/records"
}

channels: {
	# channel of camera image channels
	channel: {
		description: "front camera 12mm"
		name: "/apollo/sensor/camera/front_12mm/image"
		extraction_rate: 5
	}
	# channel of 16-beam lidar
	channel: {
		description: "lidar 16 point cloud"
		name: "/apollo/sensor/lidar16/PointCloud2"
		extraction_rate: 5
	}
	# channel of localization pose odometry
	channel: {
		description: "GNSS odometry"
		name: "/apollo/localization/pose"
		extraction_rate: 1
	}
}
