<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="text-align:center">
    <h1>Login Successful! The page is about to close.</h1>
  </div>
  <script>
    setTimeout(function () {
      window.close();
    }, 3000);
  </script>
</body>
</html>
