.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: fixed;
    top: 35%;
    left: 50%;
    width: 300px;
    height: 130px;
    transform: translate(-50%, -50%);

    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    z-index: 1001;

    header {
        background: #217cba;
        // color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        min-height: 50px;
    }

    .modal-dialog {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 50px;
        left: 0px;
        padding: 5px;
    }

    .ok-button {
        position: absolute;
        bottom: 0px;
        transform: translate(-50%, -50%);

        padding: 7px 25px;
        border: none;
        background: #006AFF;
        color: #ffffff;
        cursor: pointer;
    }

    .ok-button:hover {
        background: #49a9ee;
    }
}


.local-scenario-set-delete-confirm-modal {

  color: #fff;

  .ant-modal {
    .ant-modal-content {
      width: 430px;
      height: 200px;
      background: #272A2E;
      border-radius: 6px;
      .ant-modal-body {
        background: #272A2E;
        border-radius: 6px;
      }
    }
  }

  &_body {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    .local-scenario-set-delete-confirm-modal_icons {
      margin-right: 18px;
      img {
        width: 16px;
        height: 16px;
      }
    }

    .local-scenario-set-delete-confirm-modal_title {
      font-family: PingFangSC-Medium, serif;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 24px;
      font-weight: 500;
    }

    .local-scenario-set-delete-confirm-modal_content {
      font-family: PingFangSC-Regular, serif;
      font-size: 12px;
      color: #858B92;
      line-height: 16px;
      font-weight: 400;
      text-align: justify;
    }
  }

  &_button_group {
    display: flex;
    justify-content: center;
    &_item {
      cursor: pointer;
      color: #fff;
      width: 72px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: rgba(255,255,255,0.00);
      border: 1px solid rgba(101,106,113,1);
      border-radius: 6px;

      &:first-child {
        margin-right: 24px;
      }

      &:last-child {
        background: #3385FF;
        border: none;
      }
    }
  }

}
