<launch>
  <arg name="rate" default="1" />
  <arg name="start" default="0" />
  <arg name="loop" default="" />
  <arg name="required" default="true" />
  <arg name="bag" default=""/>
  <node pkg="rosbag" type="play" name="replay"
    args="--clock --rate=$(arg rate) --start=$(arg start) $(arg bag)" required="$(arg required)">
    <param name="rate" value="$(arg rate)"/>
    <param name="start" value="$(arg start)"/>
    <param name="bag" value="$(arg bag)"/>
  </node>
</launch>
